:root {
  --color_1: #000;
  --color_2: #fff;
  --color_3: #161616;
  --color_4: #2d2d2d;
  --color_5: #ececec;

  --hover-1: #bebebe;

  --transitions: all 0.3s ease;
  --body__font-size: 16px;
  --bold_heading_font: "Poppins", sans-serif;
  --body__font: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--body__font);
}
a {
  color: var(--color_2);
}
body {
  font-weight: 400;
  font-size: var(--body__font-size);
}
.btn {
  border-color: var(--color_1);
  border-radius: 30px;
  padding: 13px;
  font-weight: 500;
}
.btn-primary {
  padding-inline: 30px;
  background: var(--color_4);
}
.btn-secondary {
  padding-inline: 30px;
  background: var(--color_4);
}
h2 {
  font-size: 55px;
  // font-family: var(--bold_heading_font);
}
.heading {
  font-size: 80px;
}
html,
body {
  height: 100%;
}
.uni-padding {
  padding: 100px 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  transition: var(--transitions);
}
.header {
  background: var(--color_1);
  color: var(--color_2);
}
.hero-section {
  background: var(--color_3);

  .content {
    color: var(--color_2);
    .btn {
      width: 230px;
      padding-block: 20px;
      border-radius: 1200px;
      font-size: 20px;
    }
  }
  h1 {
    line-height: 1.3;
  }
  p {
    line-height: 1.5;
  }
}
video {
  border-radius: 10px;
}
.menu {
  a {
    font-weight: 500;
    &:hover,
    &.current-page {
      color: var(--hover-1);
    }
  }
}

.about-section {
  background: var(--color_5);
 .card {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
    img {
      width: 80px;
      height: 80px;
      border-radius: 100%;
    }
    &-text {
      font-size: 16px;
    }
  }
  .icon{
    font-size: 16px;
    width: 44px;    
    height: 43px;    
    border: 1px solid var(--color_4); 
    border-radius: 100%;
    transition: var(--transitions);
    cursor: pointer;
    &:nth-child(2),&:hover{
      background: var(--color_1);
      color: var(--color_2);
    }
  }
}
.view {
  color: var(--color_4);
}
.good-rating-list {
  margin-top: 80px;
}
.fa-star {
  color: rgba(255, 145, 0, 0.952);
}

.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.donations {
  /*padding: 50px*/
  background-color: #171b24;
  color: #fff;
  .donate {
    width: 500px;
  }
}
.donate p {
  line-height: 24px;
  font-size: 14px;
  font-weight: 300;
}
.donate h3 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
}
.denomination {
  float: left;
  width: 50%;
  text-align: center;
  padding: 13px 0;
  cursor: pointer;
  background-color: #171b24;
  transition: background-color 0.2s ease;
}
.denomination label {
  font-weight: 600;
  cursor: pointer;
}
.denomination input {
  left: -10001px;
  position: absolute;
}
.denomination-other {
  width: 100%;
}
.denomination-other input {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  width: inherit;
  text-align: center;
  background-color: #171b24;
  border: none;
  padding: 13px 0;
  transition: background-color 0.2s ease;
}
.denomination-other input:hover {
  background: red;
}
.denomination-other input:before {
  position: absolute;
  left: 6px;
  top: 2px;
  content: "$";
}
.donate-amount .selected,
.denomination-other input.selected,
.donate-amount .denomination:hover {
  background-color: #ec3029;
  border: 0;
}
.donate-black h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 30px;
}
.donate-black h2 span {
  display: block;
  float: left;
  font-size: 16px;
  padding-top: 7px;
  margin-right: 20px;
  text-align: center;
  width: 30px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
}
.donate-type label {
  font-size: 14px;
  font-weight: 300;
}
.donate-blue {
  background-color: #1e252d;
  padding: 25px;
}
.donate-black {
  padding: 25px;
  background-color: #1e252d;
}
.donate-submit button {
  width: 100%;
  background-color: red;
  border: none;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 14px 0;
  margin: 30px 0;
  text-transform: uppercase;
  cursor: pointer;
}
.donate-submit small {
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
}
\::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
\:-moz-placeholder {
  color: #fff;
  font-weight: 300;
}
\::-moz-placeholder {
  color: #fff;
  font-weight: 300;
}
\:-ms-input-placeholder {
  font-weight: 300;
  color: #fff;
}
*:focus {
  outline: none;
}
.dtype {
  float: left;
  width: 50%;
  text-align: center;
  padding: 13px 0;
  background-color: #171b24;
  transition: background-color 0.2s ease;
}
.dtype:hover {
  background: red;
}
.dtype.selected {
  background: red;
}

.form-control {
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #fff;
  color: #495057;
  &:focus {
    box-shadow: none;
  }  
}
::placeholder{
    color: #b3b3b3 !important;
}
.login {
  .form-control {
    height: 54px;
  }
  label {
    font-size: 16px;
  }
}
.login {
  background: #f6f7fc;
  .content {
    max-width: 530px;
    width: 100%;
  }
  a {
    color: var(--color_3);
  }
}
.optional {
  color: #b3b3b3;
  font-family: var(--body__font);
}
.form-group {
  margin-bottom: 1rem;
}
label {
  margin-bottom: 4px;
}
input[type="checkbox"] {
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
  appearance: none;
  &:checked {
    display: block;
    color: #fff;
    background: var(--color_1);
  }
}
.login-bg {
  background-image: url("/images/bg_1.jpg");
  background-size: cover;
  background-position: center;
  min-height: 700px;
  height: 100vh;
}
.remember {
  & * {
    font-size: 14px;
    line-height: 1;
    color: #b3b3b3;
  }
  a {
    color: #b3b3b3;
  }
}

.profile{
  width: 45px;
  height: 45px;
  border-radius: 25px;
  i{
    color: var(--color_4);
  }
}
.content-max{
  max-width:900px;
}
.banner-shade{
position: relative;
z-index: 1;
&::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: -1;
  pointer-events: none;
}
}